

body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
  }
  .container{
    display: flex;
    margin: 0px;
    width: 100%;
    height: auto;
    padding: 0%;
  }
  .bar{
    flex:1;
    padding: 10px 40px;
    border-right: 1px solid rgb(211, 211, 211);
    height:auto;
  }
  button{
    border: none;
     background: none;
    border-radius: 30px;
  }
  .icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: none;
    border: none;
    border-radius: 50%;
    color: rgb(70, 121, 233);
  }
  .icon:hover{
    background: rgb(191, 209, 241);
  }
  .menue{
    margin: 0px;
    height: auto;
    padding:0px;
    background: none;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* margin-right: auto; */
  }
  
  .menue:hover{
    background: lightblue;
      color: rgb(70, 121, 233);
  }
  button:focus{
    border: none;
    outline: none;
  }
  .blue{
    color: blue;
  }
  
  .menue i{
    padding-left: 10px;
    margin-right:10px;
    text-align: left;
    font-size: 16px;
  
  }
  
  .menue p{
    margin-right: 20px;
    text-align: left;
    font-size: 15px;
  
  }
  .tweet1{
    padding: 10px 70px;
    background: blue;
    color: #fff;
    border-radius:30px ;
    font:bold;
    margin: 10px 0px;
    font-size: 20px;
  
  
  }
  .pro{
    padding: 10px;
    display: flex;
    align-items: center;
  }
  .pro:hover{
    background: rgb(241, 236, 236);
  }
  .pro div{
    margin-left: 10px;
  }
  
  .pro div p{
    margin: 0px;
  }
  .pro div p b{
    font-size: 14px;
  }
  .pro img{
    width: 50px;
    height: 50px;
    font-size: 30px;
    background: none;
    border: none;
    border-radius: 50%;
    color: rgb(70, 121, 233);
  }
  
  .drop-down{
    margin-left: 20px;
    font-size: 20px;
  }
  .drop{
    position: absolute;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    left:0px;
    bottom: 50px;
    width: 200px;
    margin-bottom: 26px;
    background: white;
  
  }
  
  .drop button{
    border-radius: none;
    padding: 3px;
  }
  
  .create, .logout{
    border-top:1px gray solid;
    width: 100%;
    text-align: left;
    border-radius: 0%;
  }
  
  .create p, .logout p{ 
  padding: 30px;
  
  }
  
  
  .tweets{
    flex:3;
    border-right:1px solid rgb(211, 211, 208);
    height:100vh;
  }
  
  .explore{
    flex:2;
    border-right:1px solid rgb(211, 211, 208);
    height:100vh;
    padding: 10px 20px;overflow-y: scroll;
    position: relative;
  
  }
  
  .explore input{
     border:1px solid rgb(211, 211, 208);
     background: rgb(225, 226, 228);
     width: 70%;
     border-radius: 30px;
     padding:10px 30px;
  }
  .explore input:focus{
    outline: none;
    
    border:1px solid rgb(151, 173, 214);
  }
  .fa-search{
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 30px;
    margin-top: 20.5px;
   color: rgb(161, 162, 165);
  
  }
  .top{
    max-height: 75px;
  }

  .footer{
    height: 64px;
  }
  .tweet{
    max-height: calc(100vh - 64px);
  }